body{
    background-color: tomato;
}
ul{
    list-style: none;
}
.btns-top{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.ins{
    margin-right: 20px;
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
    background-color: #f44336;
    color: white;
    border-style: none;
}
.con{
    margin-right: 20px;
    font-size: 1em;
    padding: 8px;
    border-radius: 8px;
    background-color: #fFF;
    color: black;
    border-style: solid;
}

img{
    width: 100%;
    height: auto;
}

table{
    width: 100%;
    display: block;
    border-collapse: collapse;
    text-align: center;
    
}


.read{
    width: 80%;
    background-color: black;
    margin: auto;
    overflow: auto;
}
.read_child{
    padding: 4px;
    margin: auto;
    color: white;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-end;
}
.read_child > li{
    margin: 10px;
}

.nav_menu > li{
    margin: 10px;
}

.thirdZone{
    margin-top: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.thirdZone_child{
    align-content: center;
}
/*.comics{
    width: 66px;
    height: 79px;
}
*/
.nav_bar{
    background-color: black;
}

.nav_menu{
    color: white;
    padding: 7px;
    margin-top: 90px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.wrapper_section01{
    display: flex;
    flex-wrap:wrap;
}

/*.section01{
    width: 100%;
    height: 800px;
    background-image: url("../img/batman.jpg");
    background-repeat: no-repeat;
}*/

/*.imgbat::before { 
    position: absolute;
    content: " BATMAN : UNE CREATURE";
    color: Black;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}*/

.imgbat{
    background: Black;
}
.bat{
    opacity: 0.3;
}
.content{
    grid-area: main;
}

.sidebar{
    grid-area: sd;
}
.sidebar2{
    grid-area: sd2;
}
.sidebar3{
    grid-area: sd3;
}
.sidebar4{
    grid-area: sd4;
}
.wrapper{
    margin-top: -20px;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas: 
      "main main main main sd sd sd2 sd2"
      "main main main main sd3 sd3 sd4 sd4";
}


